<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Portfolio.Api.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="Jwt__Key" value="Xnb7WTHodRJBaSuyT/NuDVHuCCI0QjglMnMa48yspyYlwGAfo+pko/IFcgMusFwk" />
          <environmentVariable name="ConnectionStrings__DefaultConnection" value="Server=sql8006.site4now.net;Database=db_a828de_portfolioweb;User Id=portfolliowebapi;Password=FfcErPMJUYghmQe!1@;TrustServerCertificate=True;Encrypt=False;" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
